table {
    border-collapse: collapse;
    width: 90%;
}

th,
td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #dd0c94
}

th {
    background-color: #4287f5;
    color: rgb(242, 10, 118);
}